    <!-- Note that we are using the ConsentWrapper class name to target the elements (see JS Cookie code) -->
    <div class="ConsentWrapper">
        <div class="CookieConsent">
            <span id="p_lt_ctl05_SimpleCookieLawConsent_lblText" class="ConsentText">We use cookies to provide you with the best experience on our site, to show you personalised content and ads. If you continue browsing with us we'll assume that you're happy to receive cookies.&nbsp;Find out more about <a target="_blank" href="https://www.boots.com/webapp/wcs/stores/servlet/privacypolicy">cookies</a>.</span>

            <span class="ConsentButtons">

          <input type="submit" name="p$lt$ctl05$SimpleCookieLawConsent$btnAllowAll" value="Allow cookies" id="p_lt_ctl05_SimpleCookieLawConsent_btnAllowAll" class="ConsentButton btn btn-default">
      </span>
        </div>
    </div>
