<footer class="j-footer sn-footer">

		<a href="javascript:void(0);" class="j-scroll-top scroll-top">
			<svg class="icon icon-btn-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
				<path d="M13 10.7l-5.4 3.2c-.1.1-.3.1-.4.1-.3 0-.5-.1-.7-.4-.2-.4-.1-.9.3-1.1l4.3-2.6-4.3-2.5c-.4-.2-.5-.7-.3-1.1.2-.4.7-.5 1.1-.3l5.4 3.2s.4.2.4.7c0 .6-.4.8-.4.8z"/>
			</svg>
			<span>Scroll to top</span>
		</a>

		<div class="sn-footer-wrapper sn-footer-navigation">

			<div class="j-footer-menu sn-footer-column">
				<a href="javascript:void(0);" class="j-footer-menu-toggle title">
						Hearing Aids
					<svg class="icon-toggle" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
						<path class="expanded" d="M0,8V6H14v2H0Z"/>
						<path class="collapsed" d="M 0,7 0,6 14,6 14,8 0,8M 6,7 6,0 8,0 8,14 6,14 Z"/>
					</svg>
				</a>

				<ul>

					<li>
						<a href="https://www.bootshearingcare.com//hearing-aids/hearing-aid-prices/">


		Hearing aid prices

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/hearing-aids/wearing-a-hearing-aid/">


		Wearing a hearing aid

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/types-of-hearing-aids/">


		Types of hearing aids

						</a>
					</li>
					<li>
						<a href="https://stores.bootshearingcare.com/search">


		Book an appointment

						</a>
					</li>
				</ul>
			</div>
			<div class="j-footer-menu sn-footer-column">
				<a href="javascript:void(0);" class="j-footer-menu-toggle title">
						Hearing
					<svg class="icon-toggle" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
						<path class="expanded" d="M0,8V6H14v2H0Z"/>
						<path class="collapsed" d="M 0,7 0,6 14,6 14,8 0,8M 6,7 6,0 8,0 8,14 6,14 Z"/>
					</svg>
				</a>

				<ul>

					<li>
						<a href="https://www.bootshearingcare.com/hearing-test/">


		Hearing test

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/hearing-loss/">


		Hearing loss

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/batteries-and-accessories/">


		Batteries and accessories

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/ear-wax-removal/">
						Wax removal
						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/hearing-aids/hearing-aid-insurance/">
						Insurance
						</a>
					</li>
				</ul>
			</div>
			<div class="j-footer-menu sn-footer-column">
				<a href="javascript:void(0);" class="j-footer-menu-toggle title">
						About Boots
					<svg class="icon-toggle" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
						<path class="expanded" d="M0,8V6H14v2H0Z"/>
						<path class="collapsed" d="M 0,7 0,6 14,6 14,8 0,8M 6,7 6,0 8,0 8,14 6,14 Z"/>
					</svg>
				</a>

				<ul>

					<li>
						<a href="https://www.bootshearingcare.com/why-choose-boots/">


		Boots Hearingcare

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/why-choose-boots/aftercare/">


		Aftercare

						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.bootshearingcare.com/careers/">


		Careers

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/contact-us/">


		Contact us

						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.bootshearingcare.ie">


		Republic of Ireland

						</a>
					</li>
				</ul>
			</div>
			<div class="j-footer-menu sn-footer-column">
				<a href="javascript:void(0);" class="j-footer-menu-toggle title">
						Legal
					<svg class="icon-toggle" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
						<path class="expanded" d="M0,8V6H14v2H0Z"/>
						<path class="collapsed" d="M 0,7 0,6 14,6 14,8 0,8M 6,7 6,0 8,0 8,14 6,14 Z"/>
					</svg>
				</a>

				<ul>

					<li>
						<a href="https://www.bootshearingcare.com/pages/cookies/">


		Cookies

						</a>
					</li>
					<li>
						<a href="https://www.boots.com/floating-editorial/editorial-legal/privacypolicy">


		Privacy Policy

						</a>
					</li>
					<li>
						<a href="https://www.bootshearingcare.com/terms-conditions/">


		Terms &amp; Conditions

						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.bootshearingcare.com/bootshearingcare/media/BootsHearingcare_UK_Website/PDFs/Modern-Slavery-statement-April-2019.pdf">


		Modern Slavery

						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.bootshearingcare.com/bootshearingcare/media/BootsHearingcare_UK_Website/PDFs/Boots-Hearingcare-gender-pay-gap-report-2018.pdf">


		Gender pay gap report

						</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="sn-footer-wrapper">
			<div class="sn-footer-copyright">
				<div class="logo">



				</div>
				<div class="logo">



				</div>
				<div class="copyright">



				</div>
				<div class="link">



				</div>
				<div class="link">



				</div>
			</div>
		</div>

		<span class="j-scroll-top sn-scroll-top">
			<svg width="32" height="24" viewBox="0 0 32 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
				<path d="M24,16l-8,-8l-8,8" style="fill:none;stroke-width:1px;"/>
			</svg>
		</span>

	</footer>	
